.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-truncate {
  max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
}

.text-break {
  word-break: break-all !important;
  word-wrap: break-word !important;
}

.text-undecorate {
  text-decoration: none !important;
}

.text-underline {
  text-decoration: underline !important;
}
